{{! views/locations/location-details.hbs }}
<br />
<br />
<br />

<div>

  <h3>{{location.name}}</h3>
  <br />

  <h5>{{location.description}} </h5>
  <br />

  <h4>Movie/Movies related location/locations:

    {{#each location.movies}}
      <h5>{{this.title}} ♥️ </h5>
    {{/each}}</h4>

  <hr />

</div>

<a href="/userProfile/locations">Back</a>