{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <h1>Create a location my friend!</h1>
  <!-- <img src= "../images/no-privacy1.gif" width="800" alt="funny gif" /> -->

  <form action="/userProfile/locations/create" method="POST">

    <label>Name:</label>
    <input type="text" name="name" required />

  <label>Description: </label> 
  <textarea placeholder=" Location related to Movie scenes/songs" type="text" name="description" cols="45" rows="5" required></textarea>


 <!--   <label>Enter Cast/Casts (do not forget comma, if more than one): </label>
    <input type="text" name="cast" /required> -->

<!-- <label for="cast"> Choose Cast/Casts: </label>
  <select name="cast" id="cast" multiple> 
    <option value=""></option>
    <option value="Shah Ruk Khan"></option>
    <option value="Kareena Kapoor"></option>
    <option value="Shaheed Kapoor"></option>
    <option value="Akshay Kumar"></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    </select>-->
    

<br> <br>

  <label>Movies:</label>
    <select type="text" name="movies" multiple  />
    {{#each mov}}
    <option value="{{this.id}}">{{this.title}}</option>
    {{/each}}
    </select>

<br> <br> <br>
    <button type="submit">Create</button>

  </form>

  <br />
  <br />


  <button>
    <a href="/userProfile">Back</a>
  </button>

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}