<h1>{{appTitle}} </h1>
<p>Welcome Star shooting!</p>


<form action="Movie-list" method="post">
    <input type="text" name="theMovieName" id="" placeholder="Insert movie name here...">
    <button type="submit"> Find movies name! </button>
</form>


