<br> <br> <br>

<h4><i>Welcome Fan</i>!</h4> <br>

<h3><i> {{appTitle}},</i></h3> 
 <h4><i>Store explored Locations, <br> inspired by, or for the Movies</i></article></h4> <br> <br>

 <h4><i>New to Filmy Locs?</i></h4>
 <h5><small> <i><a href="/signup">Signup</a> <i></small> <i> to create an account, it's Free :)</i></h5> <br>

 <h4><i>Already have an account?</i></h4>
 <h5><i>Click on Login</i></h5>
 <h5><i>Click on <small>  <i><a href="/userProfile">Start</a></i></small></i></h5> <br> <br> <br>

 <h5><i>Curious to get in touch with Developers Team?</i></h5>
 <h6><i>Just drop an  <a href="mailto:tanvi.monitors@gmail.com"> <small><i> email! </i></small>  </a></i></h6>


