<br> <br> <br>

<h3><i> <span style="color:black;font-size:22px">Welcome to</span>  {{appTitle}},</i></h3> 
 <h5><i>Store explored Locations, inspired by, or for the Movies</i></article></h5> <br> <br>

  <span style="color:black;font-size:20px"><h4><i>New to Filmy Locs?</i></h4></span>
 <h5><small> <i><a href="/signup">Signup</a> <i></small> <i> to create an account, it's Free &#129303;</i></h5> <br>

 <span style="color:black;font-size:20px"><h4><i>Already have an account?</i></h4></span>
 <h5><i>Click on Login</i></h5>
 <h5><i>Click on <small>  <i><a href="/userProfile">Start</a></i></small></i></h5> <br> <br> <br> <br> 

<span style="color:black">
 <h5><i>Curious to get in touch with Developers Team?</i></h5>
 <h6><i>Just drop an  <a href="mailto:tanvi.monitors@gmail.com"> <small><i> email! </i></small>  </a></i></h6>
</span>

