<br> <br> <br>

<h4><i>Welcome Fan</i>!</h4> <br>

<h2><i><style></style> {{appTitle}},</i></h2> 
 <h3><i>Store explored Locations, <br> inspired by, or for the Movies</i></article></h3> <br> <br>

 <h3><i>New to Filmy Locs?</i></h3>
 <h4><small> <i><a href="/signup">Signup</a> <i></small> <i> to create an account, it's Free :)</i></h4> <br>

 <h3><i>Already have an account?</i></h3>
 <h4><i>Click on Login</i></h4>
 <h4><i>Click on <small>  <i><a href="/userProfile">Start</a></i></small></i></h4> <br> <br> <br>

 <h5><i>Curious to get in touch with Developers Team?</i></h5>
 <h6><i>Click on <a href="mailto:tanvi.monitors@gmail.com"> <small><i> email </i></small>  </a></i></h6>


