<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <!-- cloudinary link -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <!-- add the navbar code below -->
    <nav>
      <ul>
        <li id="to-left">
          <img src="../images/logo3.png" style="width:40px;" alt="Logo">
          <a href="/"> Home </a>
          <span> | </span>
          <a href="/userProfile/movies">Movies-list</a>
          <span> | </span>
          <a href="/userProfile/locations">Locations-list</a>
        </li>
        <li id="to-right">
          <a href="/signup">Signup</a>
          <span> | </span>
          <a href="/login">Login</a>
          <span> | </span>
          <a href="/userProfile">Start</a>
          <span> | </span>
          <form id="logout-form" action="/logout" method="POST">
            <button>Logout</button>
          </form>
        </li>
      </ul>
    </nav>

    {{{body}}}

<div class="footer">
    <p><i> Made with &#10084; by : Tanvi Gurjar</i> 
  <a href="mailto:tanvi.monitors@gmail.com"> <small><i> email </i></small>  </a> <i>and</i>  
     <i> Sara Abbasi </i>
  <a href="mailto:sarahabbasi25@aol.com"> <small><i> email </i></small> </a></p>
</div>
     <!-- bootstrap link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
  </body>

</html>