body {
  padding: 30px;
  /* font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif; */
  font: 14px cursive;
  color: rgb(186, 11, 186);
  
  background-image: url("../images/bg3.jpg");

  background-repeat: no-repeat;
  background-size: cover;

  /*background: #40E0D0;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  color: #43a3e6;
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}

form label {
  color: rgb(235, 94, 155);
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button {
  background: #e69743;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

form button:hover {
  background: rgba(216, 228, 194, 0.679);
  color: #e69743;
  font-weight: bold;
  transition: 0.3s ease background;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

ul {
  /* border-bottom: 2px solid #43a3e6;*/
  height: 30px;
  padding: 1em 0;
  list-style-type: none;
}

ul li {
  line-height: 20px;
}

#to-right {
  padding: 1em;
  float: right;
}

#to-right span {
  color: #43a3e6;
  font-size: 1.5em;
}

#form h2 {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: cursive;
}

#to-left {
  float: left;
}

#to-left p a {
  color: #000;
  font-weight: bold;
  font-size: 1em;
}

#logout-form {
  display: inline;
}

#logout-form button {
  width: 120px;
}

.movie-card {
  width: 90%;
}

.movie-img {
  width: 300px;
  height: 175px;
}

form label {
  font-weight: semi-bold;
  font-size: 1.5em;
  font-style: italic;
  font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
}

form input,
textarea,
select {
  background-color: rgba(216, 228, 194, 0.679);
  opacity: 0.6;
}

form {
  background-color: transparent;
}

form select {
  width: 100%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: DarkSalmon;
  color: white;
  text-align: center;
  padding: 1px;
  opacity: 0.7;
}

.footer a,
span {
  color: #f02b63;
  font-size: medium;
}

