{{!-- views/books/book-details.hbs --}}

<h2>{{movie.name}}</h2>
<img class="movie-img" src="{{movie.imageUrl}}" alt="{{movie.name}}" />
<br>
<p>Summary:{{movie.description}}</p>
<hr>
<a href="/userProfile/movies">Back</a>