<br> <br> <br>

{{#if userInSession}}
  <h2>Hey {{userInSession.username}}!</h2> 
  <h3>Let's create a <span style='font-size:50px;'> &#127916;</span>movie my friend!</h3>


  <form action="/userProfile/movies/create" method="POST" enctype="multipart/form-data">

    <label>Title:</label>
    <input type="text" name="title" required />

    <label>Image:</label>
    <input type="file" name="project-2-images" required />

    <label for="director"> Directed By: </label>
    <input type="text" name="director">

    <label>Enter Cast: </label>
    <input type="text" name="cast" /required>
    
    <label>Plot: </label> 
    <textarea type="text" name="plot" cols="45" rows="5" ></textarea>

    <label>Release Date:</label>
    <input type="date" name="releaseDate"  />

   <label>Country:</label>
    <input type="text" name="country" required />

<br> 

 <label>Locations:</label>
    <select type="text" name="locations" multiple  />
    {{#each loc}}
     <option value="" disabled selected hidden>Visible after creating a movie</option>
    <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
    </select>

<br> <br> <br>

    <button type="submit">Create</button> <br>
<a href="/userProfile">Back</a>
  </form>

  
    
  

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}