{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <h1>Create a movie my friend!</h1>
  <!-- <img src= "../images/no-privacy1.gif" width="800" alt="funny gif" /> -->

  <form action="/userProfile/movies/create" method="POST" enctype="multipart/form-data">

    <label>Title:</label>
    <input type="text" name="title" required />

    <label>Image:</label>
    <input type="file" name="project-2-images" required />

    <label for="director"> Directed By: </label>
    <input type="text" name="director">

    <label>Enter Cast/Casts (do not forget comma, if more than one): </label>
    <input type="text" name="cast" /required>

<!-- <label for="cast"> Choose Cast/Casts: </label>
  <select name="cast" id="cast" multiple> 
    <option value=""></option>
    <option value="Shah Ruk Khan"></option>
    <option value="Kareena Kapoor"></option>
    <option value="Shaheed Kapoor"></option>
    <option value="Akshay Kumar"></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    </select>-->
    
    <label>plot: </label> 
    <textarea type="text" name="plot" cols="45" rows="5" ></textarea>

    <label>Release Date:</label>
    <input type="date" name="releaseDate"  />

   <label>Country:</label>
    <input type="text" name="country" required />

<br> <br>

  <label>Locations:</label>
    <select type="text" name="locations" required />
    {{#each loc}}
    <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
    </select>

    <button type="submit">Create</button>

  </form>

  <br />
  <br />

  <button>
    <a href="/">Home</a>
  </button>
  <br />
  <br />

  <button>
    <a href="/userProfile">Back</a>
  </button>

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}